run = "npm start"
entrypoint = "server/index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3002
externalPort = 80
